<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  
  <ag-grid-angular
    class="ag-theme-balham agGridPopup"
    [rowData]="popUpRowData"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    [enableFilter]="false"
    [floatingFilter]="true"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationAutoPageSize]="true"
    [rowSelection]="rowSelection"
    (rowClicked)="onRowClicked($event)"
    (rowSelected)="onRowSelected($event)"
    (gridReady)="onGridReady($event)"
    (modelUpdated)="onModelUpdated($event)"
  >
  </ag-grid-angular>

</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >Close</button>
</div>
